.lgs1 {
  stop-color: #009ff3;
}
.lgs2 {
  stop-color: #b6e6ff;
}

.holidayWeekEndRect {
  fill: url(#weekEndHolidayGR);
  stroke-width: 0.3;
  stroke: black;
}
.defaultRect {
  fill: white;
  stroke-width: 0.3;
  stroke: black;
}

.weekendRect {
  fill: #009ff3;
  stroke-width: 0.3;
  stroke: black;
}

.holidayRect {
  fill: #b6e6ff;
  stroke-width: 0.3;
  stroke: black;
}

.headerRect {
  fill: #00457c;
  stroke-width: 0.3;
  stroke: #34568b;
}

.defaultText {
  font-size: 7pt;
  fill: black;
}

.dateText {
  font-size: {{ .FontSize | ToInt }}px;
  fill: #00457c;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.dayText {
  font-size: {{ .FontSize | ToInt }}px;
  fill: #00457c;
  font-family: Verdana, sans-serif;
  font-weight: normal;
}

.monthText {
  font-size: {{ .MonthLabelFonzSize | ToInt }}px;
  fill: #00457c;
  font-family: sans-serif;
  font-weight: bold;
}

.headerText {
  font-size:{{ .HeaderFonzSize | ToInt }}px;
  fill: white;
  font-family: sans-serif;
  font-weight: bold;
}

.footerText {
  font-size: 12pt;
  fill: white;
  font-family: Verdana, sans-serif;
}

.holidayText {
  font-size:{{ .FontSize | halve }}px;
  fill: #00457c;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  text-anchor: end;
}

.oRect {
  fill: #dae9f2;
  stroke-width: 0.3;
  stroke: black;
}

.calendarWeekText {
  font-size: 40px;
  fill: #8fcbe9;
  font-family: Verdana;
  text-anchor: end;
}

.secondHolidayText {
  font-size: 3pt;
  fill: #77c3ff;
  font-family: Verdana;
  font-weight: normal;
}

.secondDateText {
  font-size: 7pt;
  fill: #77c3ff;
  font-family: Verdana;
  font-weight: bold;
}

.secondDayText {
  font-size: 7pt;
  fill: #77c3ff;
  font-family: Verdana;
  font-weight: normal;
}

.sRect {
  fill: #b6e6ff;
  stroke-width: 0.3;
  stroke: black;
}
